[submodule "files/bin"]
    path = files/bin
    url = https://github.com/abobov/bin.git
[submodule "zsh-completions"]
    path = files/.zsh/zsh-completions
    url = https://github.com/zsh-users/zsh-completions.git
# Mutt
[submodule "mutt-colors-solarized"]
    path = files/.mutt/mutt-colors-solarized
    url = https://github.com/altercation/mutt-colors-solarized
[submodule "vim/Vundle.vim"]
    path = files/.vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim
