/files/.aria2/dht.dat
/files/.mutt/aliases
/files/.mutt/certificates
/files/.mutt/secret
/files/.mutt/cache
/files/.vim/.netrwhist
/files/.vim/doc/tags
/files/.vim/spell/*.add*
/files/.vim/bundle
/files/.zsh/cache
/files/.tmux/plugins/
/files/.ssh/id_*
/files/.ssh/known_hosts
/files/.ssh/*.conf
/files/.reminders/*
