[submodule "files/bin"]
    path = files/bin
    url = https://github.com/abobov/bin.git
[submodule "zsh-completions"]
    path = files/.zsh/zsh-completions
    url = https://github.com/abobov/zsh-completions.git
# Mutt
[submodule "mutt-colors-solarized"]
    path = files/.mutt/mutt-colors-solarized
    url = https://github.com/altercation/mutt-colors-solarized
[submodule "vim/Vundle.vim"]
    path = files/.vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim
[submodule "files/.tmux/plugins/tpm"]
    path = files/.tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
    ignore = dirty
