/files/.aria2/dht.dat
/files/.mutt/aliases
/files/.mutt/certificates
/files/.mutt/secret
/files/.mutt/cache
/files/.vim/.netrwhist
/files/.vim/doc/tags
/files/.vim/spell/*.add*
/files/.vim/bundle
/files/.vim/plugged/
/files/.zsh/cache
/files/.tmux/plugins/

/files/.ssh/*
!/files/.ssh/config
!/files/.ssh/authorized_keys

/files/.reminders/*
!/files/.reminders/defaults.rem

/files/.config/pgcli/*
!/files/.config/pgcli/config

/files/.task/*
!/files/.task/hooks/

/files/.config/beets/state.pickle
