# General
*~
*.swp
tags
.tags
.envrc

# Eclipse project files
.classpath
.project
.settings

# Idea project files
.idea

# SASS
.sass-cache

# Python
*.pyc
__pycache__

# Infinitest
infinitest.filters
infinitest.args

# NPM
package-lock.json

# Archives
*.tar
*.gz
*.bz2
*.jar
*.rar
*.xz
*.zip
*.7z
