#!/usr/bin/env xdg-open
# https://specifications.freedesktop.org/desktop-entry-spec/latest/recognized-keys.html
[Desktop Entry]
Version=1.0
Type=Application
Name=
Exec=
#Icon=
#Path=
